<div [formGroup]="form" class="flex-form">
  <div class="inline-item informer-wrapper">
    <app-color-informer [hash]="hash" class=""></app-color-informer>
  </div>

  <app-rgb-separated-form [form]="form" class="inline-item"></app-rgb-separated-form>

  <mat-form-field [hideRequiredMarker]="true" floatLabel="always" class="inline-item">
    <mat-label>For men is</mat-label>
    <mat-select [formControl]="form.controls.result" placeholder="choose a color">
      <mat-option *ngFor="let teachResult of teachResults" [value]="teachResult">
        {{ teachResult }}
      </mat-option>
    </mat-select>
  </mat-form-field>

</div>
