:host {
  display: block;
  border: 1px solid #a0a0a0;
  padding: 10px;
}

.first-line {
  display: flex;
  width: 100%;
}

.informer {
  display: flex;
  width: 20px;
  margin-right: 10px;
}

.form {
  display: flex;
}

.second-line {
  display: block;
}
